@font-face {
    font-family: roboto_black;
    src: url(assets/fonts/roboto_black.ttf);
  }
@font-face {
    font-family: roboto_bold;
    src: url(assets/fonts/roboto_bold.ttf);
}
@font-face {
    font-family: roboto_thin;
    src: url(assets/fonts/roboto_thin.ttf);
}
:root {
    /* COLORS */
    --background-color: rgb(239, 239, 239);
    --main-color: rgb(21, 21, 21);
    --secondary-color: rgb(55, 55, 55);
    --white: #fff;

    /* FONTS */
    --font: roboto_bold;
    --font-bold: roboto_black;
    --font-thin: roboto_thin;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    font-family: var(--font);
    font-size: 20px;
    background-color: var(--background-color);
}

/*TEXT STYLES*/
.bold{
    font-family: var(--font-bold);
}
.thin{
    font-family: var(--font-thin);
    font-weight: 600;
}
.t40{
    font-size: 40px;
}
.t30{
    font-size: 30px;
}
.t25{
    font-size: 25px;
}
.t20{
    font-size: 20px;
}

.spacer{
    height: 10px;
}
.v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/**/



@media screen and (max-width: 700px) {
    .t40{
        font-size: 6vw;
    }
    .t30{
        font-size: 4vw;
    }
    .t25{
        font-size: 3vw;
    }
    .t20{
        font-size: 2vw;
    }
    .thin{
        font-family: var(--font);
        font-weight: 400;
    }
}