.grid {
    margin: auto;
    margin-top: 100px;
    width: fit-content;
    max-width: 1210px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 280px);
}

.item {
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}  


/*IMAGE WIDGETS*/
.item:has(.v_smallimage),
.item:has(.h_smallimage) {
    display: flex;
    padding: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.v_smallimage{
    width: 100%;
}
.h_smallimage{
    height: 100%;
}
/**/

/*VIDEO WIDGETS*/
.item:has(video) {
    display: flex;
    padding: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
video{
    width: 120%;
}
/**/

/*BUTTON*/
.item:has(.btn) {
    position: relative;
}
.item > a > .btn{
    width: 150px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;   
    border: 3px solid rgba(21, 21, 21, 1);
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item > a > .btn > p{
    color: rgb(21, 21, 21);
}
.item:has(.btn) > a > .btn:hover {
    transition: 0.2s;
    width: 160px;
    height: 70px;
    bottom: 15px;
    right: 15px;
    border-radius: 18px;
    border: 4px solid rgba(21, 21, 21, 1);
    background-color: rgb(21, 21, 21);
    cursor: pointer;
}
.item:has(.btn) > a > .btn:hover > p{
    transition: 0.3s;
    color: white;
}

/**/



/*PROJECT WIDGET*/
.project-content{
    position: absolute;
    width: 280px;
    right: 20px;
    top: 20px;
    margin-left: 20px;
}
.project_bg{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20px;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 20px;
}
.project_bg > img{
    
    height: 100%;
    width: fit-content;

}
/**/



.footer{
    font-family: var(--font-thin);
    font-weight: 600;
    margin: 150px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer > p{ 
    text-align: center;
    width: 30%;
}
.footer > p > a{
    color: inherit;
    text-decoration: underline;
}

.ausruestung > div:has(img){
    background-color: white;
}
.ausruestung > div > img{
    opacity: 1;
}
.ausruestung > div:has(img) > p{
    position: absolute;
    color: white;
    font-size: 40px;
    text-shadow: black 1px 0 5px;
}

.ausruestung{
    grid-template-rows: repeat(2, 280px);
    grid-template-areas:
    "ausruestung ausruestung a6500 roninsc"
    "andycine kandf sel50 sel1018";
}
.ausruestung .item:nth-child(1) {
    grid-area: ausruestung;
}

.projects{
    grid-template-rows: repeat(3, 280px);
    grid-template-areas:
    "projects projects atriumcafe atriumcafe"
    "atriumclub atriumclub praxiswiesinger praxiswiesinger"
    "optikmeyer optikmeyer hierkoennte hierkoennte";
}
.projects .item:nth-child(1) {
    grid-area: projects;
}
.projects .item:nth-child(2) {
    grid-area: atriumcafe;
}
.projects .item:nth-child(3) {
    grid-area: atriumclub;
}
.projects .item:nth-child(4) {
    grid-area: praxiswiesinger;
}
.projects .item:nth-child(5) {
    grid-area: optikmeyer;
}
.projects .item:nth-child(6) {
    grid-area: hierkoennte;
}


.links > div:has(img){
    cursor: pointer;
}
.links{
    grid-template-rows: repeat(2, 280px);
}
.links .item:nth-child(1) {
    grid-column: 1 / 3;
}



@media screen and (max-width: 1270px) {
    .ausruestung{
        grid-template-rows: repeat(3, 28vw);
        grid-template-areas:
        "ausruestung ausruestung a6500 "
        "roninsc andycine kandf"
        "sel50 sel1018 empty";
        grid-template-columns: repeat(3, 28vw);
    }
    .projects{
        grid-template-rows: repeat(6, 28vw);
        grid-template-columns: repeat(2, 28vw);
        grid-template-areas:
        "projects projects"
        "atriumcafe atriumcafe"
        "atriumclub atriumclub"
        "praxiswiesinger praxiswiesinger"
        "optikmeyer optikmeyer"
        "hierkoennte hierkoennte";
    }
    .links{
        grid-template-rows: repeat(2, 28vw);
        grid-template-columns: repeat(3, 28vw);
    }
    .grid {
        margin: auto;
        margin-top: 100px;
        max-width: 90%;
        height: fit-content;
        display: grid;
        gap: 20px;
        max-width: 90%;
    }
}
@media screen and (max-width: 975px) {
    .ausruestung > div:has(img) > p{
        font-size: 4vw;
    }
    .t40{
        font-size: 5vw;
    }
    .t30{
        font-size: 3vw;
    }
    .t25{
        font-size: 2vw;
    }
    .project-content{
        max-width: 45%;
    }
    .projects > .item:has(.project_bg) > a > .btn > p{
        font-size: 2vw;
    }
    .project_bg{
        left: 15px;
        width: 24vw;
        height: 24vw;
    }
    .item > a > .btn{
        width: 15vw;
        height: 5vw;
    }
}
@media screen and (max-width: 950px) {
    .ausruestung{
        grid-template-rows: repeat(4, 40vw);
        grid-template-columns: repeat(2, 40vw);
        grid-template-areas:
        "ausruestung ausruestung"
        "a6500 roninsc"
        "andycine kandf"
        "sel50 sel1018";
    }
    .projects{
        grid-template-rows: repeat(6, 40vw);
        grid-template-columns: repeat(2, 40vw);
    }
    .links{
        grid-template-rows: repeat(3, 40vw);
        grid-template-columns: repeat(2, 40vw);
    }
    .grid {
        margin: auto;
        margin-top: 100px;
        max-width: 90%;
        height: fit-content;
        display: grid;
        gap: 15px;
        max-width: 90%;
    }


    .ausruestung > div:has(img) > p{
        font-size: 6vw;
    }
    .t40{
        font-size: 8vw;
    }
    .t30{
        font-size: 4.5vw;
    }
    .t25{
        font-size: 3.5vw;
    }
    .project-content{
        max-width: 48%;
    }
    .projects > .item:has(.project_bg) > a > .btn > p{
        font-size: 3.5vw;
    }
    .project_bg{
        left: 10px;
        width: 35vw;
        height: 35vw;
    }
    .item > a > .btn{
        width: 25vw;
        height: 7vw;
    }

}
@media screen and (max-width: 700px) {
    .spacer{
        height: 3px;
    }
  }